.bar {
  border-top: solid .5rem #38b6ff;
  background-color: #0d2d3f;
  color: #f1f1f1;
  padding: 1rem 0;
}

.bar .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 3rem;
}

.bar .icon {
  font-size: 2rem;
  display: inline-block;
  padding: 1rem;
  color: #f1f1f1;
}

@media screen and (min-width: 640px) {
  .bar .wrapper {
    justify-content: space-between;
  }
}