.bar {
  border-top: solid .5rem #38b6ff;
  background-color: #0d2d3f;
  color: #f1f1f1;
  padding: 1rem 0;
}

.bar .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 3rem;
}

.bar .contact {
  display: none;
}

.bar .icon {
  font-size: 2rem;
  display: inline-block;
  padding: 1rem;
  color: #f1f1f1;
}

.bar .icon.facebook:hover {
  color: #4267B2;
}

.bar .icon.whatsapp:hover {
  color: #4AC959;
}

.bar .icon.mobile:hover {
  color: #5EB0E5;
}

.bar .icon.url:hover {
  color: #F3D060;
}

.bar .icon.email:hover {
  color: #A5282C;
}

@media screen and (min-width: 640px) {
  .bar .wrapper {
    justify-content: space-between;
  }

  .bar .contact {
    display: block;
  }

  .bar .person {
    font-weight: bold;
    display: inline-block;
  }
}