.bar {
  border-top: solid 0.5rem #38b6ff;
  background-color: #0d2d3f;
  color: #f1f1f1;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 117px;
  z-index: 9999;
}

.bar .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 3rem;
}

.bar .icon {
  font-size: 2rem;
  display: inline-block;
  padding: 1rem;
  color: #f1f1f1;
}

.menubar {
  z-index: 1;
  background-color: #fff;
  margin: 115px 0 0 0;
  overflow-x: scroll;
  position: fixed;
  top: 100px;
  top: 0;
  left: 0;
  right: 0;

  &.opened {
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
  }

  &.closed {
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .menuitem {
    border-bottom: solid 1px #ccc;

    a {
      text-decoration: none;
      color: #606060;
      display: inline-block;
      padding: 0.85rem 1.5rem;
      width: 100%;
    }

    &.c a:hover,
    &.c a.selected {
      background-color: #38b6ff;
      color: #fff;
    }

    &.y a:hover,
    &.y a.selected {
      background-color: #fbe300;
    }

    &.m a:hover,
    &.m a.selected {
      background-color: #f908ab;
      color: #fff;
    }

    &.k a:hover,
    &.k a.selected {
      background-color: #303030;
      color: #fff;
    }
  }
}

@media screen and (min-width: 640px) {
  .bar .wrapper {
    justify-content: space-between;
  }
}

@media screen and (max-width: 999px) {
  .bar {
    position: absolute;

    .wrapper {
      text-align: right;
      display: block;
      padding-left: 0;
      min-width: 360px;
    }

    .icon {
      font-size: 1.85rem;
    }
  }

  .menubar {
    position: absolute;
  }
}

@media screen and (max-height: 900px) {
  .bar, .menubar {
    position: absolute;
  }
}