.bar {
  border-top: solid 0.5rem #38b6ff;
  background-color: #0d2d3f;
  color: #f1f1f1;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 117px;
  z-index: 9999;
}

.bar .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 3rem;
}

.bar .icon {
  font-size: 2rem;
  display: inline-block;
  padding: 1rem;
  color: #f1f1f1;
}

@media screen and (min-width: 640px) {
  .bar .wrapper {
    justify-content: space-between;
  }
}

@media screen and (max-width: 999px) {
  .bar .wrapper {
    text-align: right;
    display: block;
    padding-left: 0;
    min-width: 360px;
  }

  .bar .icon {
    font-size: 1.85rem;
  }
}

.menubar {
  z-index: 1;
  background-color: #fff;
  margin: 18px 0 0 0;
  overflow-x: scroll;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      border-bottom: solid 1px #ccc;
      margin: 0;
    }
  }

  .menuitem a {
    text-decoration: none;
    color: #606060;
    display: inline-block;
    padding: 0.85rem 1.5rem;
    width: 100%;
  }
}
