.footer {
  background-color: #000;
  padding: 3rem;
  color: #fff;
  flex: 1;
}

.footer .menubar .menuitem:first-child {
  padding-left: 0;
}

.footer .menubar .menuitem {
  display: inline-block;
  padding-right: .5rem;
}

.footer .menubar .menuitem a {
  padding: 0;
  background-color: transparent;
  color: #fff;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-top: 0;
  font-weight: normal;
  text-align: left;
  border-right: dashed 1px #606060;
  padding-right: .5rem;
}

.footer .menubar .menuitem a span {
  padding: 0;
}

.footer .menubar {
  background-color: transparent;
  position: relative;
}

.footer .menubar .menuitem.selected {
  background-color: transparent;
}

.footer .menubar .menuitem a:hover,
.footer .menubar .menuitem a.selected:hover {
  color: #38b6ff;
  background-color: transparent;
}

.footer .menubar .menuitem a.selected {
  color: #fff;
  font-weight: bold;
}

,footer .menubar .menuitem a.selected:hover,
.footer .menubar .menuitem a:hover {
  color: #909090;
}

.footer .menubar .menuitem a.selected {
  color: #38b6ff;
}

.footer .menubar .menuitem:nth-child(2n) a.selected {
  color: #fbe300;
  background-color: transparent;
}

.footer .menubar .menuitem:nth-child(3n) a.selected {
  color: #f908ab;
  background-color: transparent;
}

.footer .menubar .menuitem:nth-child(4n) a.selected {
  color: #606060;
  background-color: transparent;
}