.header {
  background-color: #fff;
  box-shadow: 
    inset 0px 11px 8px -10px #303030,
    inset 0px -11px 8px -10px #303030; 
}

.header .wrapper {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem 3rem;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 
    inset 0px 11px 8px -10px #303030,
    inset 0px -11px 8px -10px #303030; 
}
