.menu {
  margin-right: 2rem;
  color: #0d2d3f;
  border-radius: 10px;
  font-size: 2.5rem;
  cursor: pointer;
  padding: .5rem;
  height: 65px;
}

.menu:hover {
  color: #38b6ff;
  background-color: #f1f1f1;
}

.menu.active {
  color: #0d2d3f;
  background-color: #f1f1f1;
}

.menu.active:hover {
  color: #ff388b;
  background-color: #f1f1f1;
}