


/* .menubar {
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: white;
  margin-top: 18px;
}

.menubar ul {
  margin: 0;
}

.menubar.opened {
  transform: translateX(0);
  transition: transform .5s ease-in-out;
}

.menubar.closed {
  transform: translateX(100%);
  transition: transform .5s ease-in-out;
}

.menubar .menuitem {
  margin: .25rem 0;
}

.menubar .menuitem a {
  display: block;
  text-align: center;
  padding: 1rem 5rem;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  background-color: #ccc;
  color: #333;
}

.menubar .menuitem a:hover {
  background-color: #0d2d3f;
  color: #fff;
}

.menubar .menuitem a.selected {
  background-color: #38b6ff ;
  color: #000;
}

.menubar .menuitem:nth-child(2n) a.selected {
  background-color: #fbe300;
  color: #000;
}

.menubar .menuitem:nth-child(3n) a.selected {
  background-color: #f908ab;
  color: #000;
}

.menubar .menuitem:nth-child(4n) a.selected {
  background-color: #000;
  color: #fff;
}

.menubar .menuitem a.selected:hover {
  background-color: #0d2d3f;
  color: #fff;
}

.menubar ul {
  list-style: none;
}

.menubar .menuitem a span {
  display: block;
  width: 100%;
  padding: 0 3rem;
}

@media screen and (max-width: 960px) {
  .menubar .menuitem a span {
    padding: 0;
    text-align: right;
  }
} */