.menu {
  padding: 20px;
  margin-right: 2rem;
  color: #6b6b6b;
  border-radius: 10px;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu:hover {
  background-color: #f3f3f3;
}

.menu.active {
  background-color: #f3f3f3;
}

.menu.active:hover {
  background-color: #f3f3f3;
}