.pricing .products,
.pricing .product,
.pricing .prices {
  display: block;
  font-weight: bold;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  border: none;
  list-style: none;
  width: 100%;
  margin: 0;
}

.pricing .category,
.pricing .disclaimer,
.pricing .product,
.pricing .product-name,
.pricing .prices {
  margin: 0;
  padding: .5rem 1.25rem;
}

.pricing .product-name,
.pricing .disclaimer {
  background-color: #fbe300;
}

.pricing .product {
  background-color: #38b6ff;
  color: #1e5d81;
  text-shadow: 1px 1px 1px #80d0ff; 
}

.pricing .category {
  background-color: #303030;
  color: #ccc;
  text-shadow: 1px 1px 1px #000;
}

.pricing .prices .qty {
  width: 150px;
  display: inline-block;
  text-align: right;
  padding: .5rem;
} 

.pricing .prices .price {
  padding-left: 1rem;
}
